/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {background:transparent url(../img/body-bg.png) scroll repeat top left; padding-top:5%;}

.btn-winter-road-4 { text-shadow: 0px 1px 0px #ffffff; color: #a1a288; background-color: #F1F2D8; background-image: -moz-linear-gradient(top, #fffff6, #d3d4ba); background-image: -ms-linear-gradient(top, #fffff6, #d3d4ba); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffff6), to(#d3d4ba)); background-image: -webkit-linear-gradient(top, #fffff6, #d3d4ba); background-image: -o-linear-gradient(top, #fffff6, #d3d4ba); background-image: linear-gradient(top, #fffff6, #d3d4ba); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff6', endColorstr='#d3d4ba', GradientType=0); border-color: #F1F2D8 #d3d4ba #d3d4ba #F1F2D8; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-winter-road-4:hover, .btn-winter-road-4:active, .btn-winter-road-4.active, .btn-winter-road-4.disabled, .btn-winter-road-4[disabled] { background-color: #d3d4ba; }
.btn-winter-road-4:hover { color: #8d8e74; text-shadow: 0px 1px 0px #ffffff; }
.btn-winter-road-4:focus { color: #515238; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #F1F2D8 #d3d4ba #d3d4ba #F1F2D8; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-winter-road-4.active, .btn-winter-road-4:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #515238; }

.btn-xlarge {
padding: 12px 29px;
font-size: 20px;
font-weight: bold;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.input-large {
background-color: 
#F8F8F8;
height: 35px !important;
border: 1px solid 
#DADADA !important;
padding: 0 0 0 5px;
font-family: Arial,sans-serif !important;
color: 
#586470;
font-size: 20px !important;
top: 10px;
}

