<!doctype html>
<html ng-app>
  <head>

    <script src="http://code.angularjs.org/angular-1.0.0.min.js"></script>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
      
      <div id="header">
      </div>

    <div class="container" ng-app>
      <div class="row" ng-controller="SpoonController"> 
        <div class="span8">
          <form class="well" ng-submit="addSpoon()">

            <input type="text" class="input-large" ng-model="spoonText"  
             placeholder="First Word">

            <input type="text" class="input-large" ng-model="spoonText2"  
             placeholder="Second Word">

            <input class="btn-winter-road-4 btn-xlarge" type="submit" value="spoon">
          </form>
        </div>

        <div class="span4">
  
          <span>{{spoons.length}} spoonerism(s) made</span>
              [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="unstyled">
              <li ng-repeat="spoon in spoons">
                <input type="checkbox" ng-model="spoon.done">
                <span class="done-{{spoon.done}}">{{spoon.firstWord}}  {{spoon.secondWord}}</span>
              </li>
            </ul>
        </div>
      </div>
    </div>

  <script src="js/controllers.js"></script>
  </body>
</html>